
# DSDD   255 tracks 3,391,488 bytes
[virtual]
cyls = 255
heads = 2
bps = 256
rpm = 360
iam = no
gap3 = 16
gap4a = 16
tracks = 0.0
 secs = 15
 mode = fm
 interleave = 3
 Id = 1
 h = 0
tracks = 0.1
 secs = 15
 mode = fm
 interleave = 3
 hskew = 1
 Id = 16
 h = 1
tracks = 1-254.0
 secs = 26
 mode = mfm
 interleave = 5
 Id = 1
 h = 0
tracks = 1-254.1
 secs = 26
 mode = mfm
 interleave = 5
 hskew = 3
 Id = 27
 h = 1
